@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(255, 255, 255, 0.8);
  /* #595D64 */
  /* background-color: 89, 93, 100; */
}

header {
  width: 100%;
  background-color: black;
  top: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 1;
  border-bottom: 2px solid grey;
}

.container {
  margin-top: 5rem;
}

.container-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 70vw; */
  /* height: 70vh; */
  margin-top: 20rem;
  /* width: fit-content; */
  /* margin: 0 auto; */
}

h1 {
  font-size: 1.5em;
  text-align: center;
  color: white;
  margin: 0;
  padding: 1rem;
}

.ul-container-pictures {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  /* gap: 0.8em; original*/
  gap: 1em;
  padding: 0;
  margin: 2em;
  /* border: 2px solid red; */
}

.ul-container-pictures-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
}

.spin {
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: spin 3000ms ease-out infinite;
  /* border: 2px solid red; */
}

li {
  height: 40vh;
  flex-grow: 1;
  position: relative;
  /* justify-content: center; */
  /* align-content: center; */
}

li:hover {
  transform: translateY(-7px);
}

li:hover .li-data {
  visibility: visible;
  /* animation: slide-in 2000ms; */
}

/* li:last-child { */
/* // There's no science in using "10" here. In all my testing, this delivered the best results. */
/* flex-grow: 10; */
/* } */

.li-img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  border-radius: 0.4em;
  box-shadow: 1.6px 3.2px 3.2px hsl(0deg 0% 0% / 0.45);
  /* filter: brightness(75%); */
}

.li-img:hover {
  box-shadow: 1.6px 3.2px 3.2px hsl(0deg 0% 0% / 0.7);
  cursor: pointer;
  /* filter: brightness(100%); */
}

.li-data {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-content: center; */
  background-color: rgba(241, 238, 238, 0.7);
  position: absolute;
  bottom: 5%;
  left: 5%;
  /* transform: translate(-50%, -50%); */
  border-radius: 0.3em;
  visibility: hidden;
}

.li-title {
  color: black;
  font-weight: 700;
  font-size: 1.3em;
  font-family: "Caveat", cursive;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 0.2em;
  text-align: center;
}

.li-date {
  color: black;
  font-weight: 100;
  font-size: 1em;
  font-family: "Bebas Neue", cursive;
  margin-top: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
}

.notLike {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.cls-1 {
  /* fill: #e54033; */
  /* fill: rgba(254, 8, 8, 0.1); */
  fill: rgba(255, 255, 255, 0.2);
}

.cls-2 {
  fill: white;
  /* stroke: rojo; */
}

.like_cls-2 {
  fill: rgb(254, 8, 8);
}

.notLike:hover .cls-2 {
  /* scale: 200%; */
  fill: rgb(254, 8, 8);
}

@keyframes slide-in {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}

@keyframes spin {
  from {
    transform: scale(100%);
  }
  to {
    transform: scale(50%);
  }
}

/* // ADVANCED */

/* // Portrait */

@media (max-aspect-ratio: 1/1) {
  li {
    height: 30vh;
  }
}

/* // Short screens */

@media (max-height: 480px) {
  li {
    height: 80vh;
  }
}

/* // Smaller screens in portrait */

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  ul {
    flex-direction: row;
  }

  li {
    height: auto;
    width: 100%;
  }
  img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}
